repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        files: \.(py)$
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: \.(py)$
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: \.(ts|tsx|js|jsx|json|css)$
